:root {
    --color-bar: hsl(6, 100%, 80%), hsl(335, 100%, 65%);
    --color-bg-cover: hsl(228, 56%, 26%);
    --color-bg-icons: hsl(229, 57%, 11%);
    --color-icons: hsl(228, 55%, 62%);
    --color-text-bold: hsl(243, 100%, 93%);
    --color-text: hsl(229, 7%, 55%);
}
