@use '../util' as *;

.cover-left {
    border-top-right-radius: rem(100);

    @include breakpoint(medium) {
        padding-right: rem(64);
    }

    @include breakpoint(large) {
        padding-right: rem(112);
    }

    &__files {
        @include flex(initial);
        gap: rem(16);
        margin-top: rem(32);
    }

    &__icon {
        font-size: rem(32);
        padding: rem(8);
        color: hsl(228, 55%, 62%);
        background-color: var(--color-bg-icons);
        border-radius: rem(8);
        cursor: pointer;
        transition: background 0.7s linear, color 0.5s linear;

        &:hover {
            color: var(--color-bg-icons);
            background-color: var(--color-icons);
        }
    }
}
